<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOKMARKER</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">Home</a>
        <!-- Toggle button for mobile view -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'about_us' %}">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contact_us' %}">Contact Us</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'my_collections' %}">Add Bookmark</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'bookmark_list' %}">View Bookmark</a></li>
            </ul>
            <a href="{% url 'logout' %}" class="btn btn-danger my-2 my-sm-0">Logout</a>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Bootstrap JS and dependencies (Optional, but good to include) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#searchForm').on('submit', function(e) {
                e.preventDefault(); // Prevent the default form submission
                var query = $('input[name="search"]').val(); // Get the search query
        
                $.ajax({
                    url: window.location.href, // Current URL
                    data: {
                        'search': query
                    },
                    dataType: 'html',
                    success: function(data) {
                        $('.row').html($(data).find('.row').html()); // Replace bookmarks with the new ones
                    }
                });
            });
        });

        function confirmDelete(){
    return confirm("Are you sure you want to delete this bookmark ?")
}
        </script>
        
</body>
</html>
