{% extends "partials\navbar.html" %}

{% block content %}
<h1>About Us</h1>
<p>Welcome to our bookmarking application. Our goal is to provide a simple and efficient way for users to save and manage their favorite URLs. Whether you're a student, a professional, or anyone in between, our platform is designed to help you keep track of the resources that matter most to you.</p>
<p>We believe in the power of organization and accessibility, and we're here to make your web experience better.</p>
{% endblock %}
